a:link {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.slide-box {
    max-width: 960px;
}

.bottom-nav {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.text-card {
    margin: auto;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    background-color: #FF9100;
    color: white;
    padding: 30px 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    border-radius: 10px 10px 0px 0px;
    font-size: 30px;
}

.text-box {
    padding: 10px;
}